{
  "extends": [
    "airbnb-base",
    "plugin:vue/strongly-recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ['@']
      }
    ],
    "import/extensions": [
      "error",
      {
        "ignore": ['.js']
      }
    ]
  }
}
