{
  "extends": [
    "airbnb-base",
    "plugin:vue/strongly-recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "max-len": ["error", {
      "code": 120,
      "ignoreUrls": true,
      "ignoreStrings": true
    }],
    "import/no-unresolved": ["error", "never"],
    "import/extensions": ["error", "never"],
    "func-names": ["off"],
    "no-underscore-dangle": ["off"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }]
  }
}
