{
  "extends": [
    "airbnb-base",
    "plugin:vue/strongly-recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "import/no-unresolved":  [ "error", "never" ],
    "import/extensions": [ "error", "never" ]
  }
}
