@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');


html,
body {
	font-family: "Roboto", sans-serif;
	color:rgba(0,0,0,.8);
}

body .rsg--sidebar-4 {
	background: #1373b4;
	color:rgba(255,255,255,.8);
}

body .rsg--sidebar-4 .rsg--link-59,
body .rsg--sidebar-4 a {
	color:rgba(255, 255, 255, .8);

}

body .rsg--sidebar-4 .rsg--link-59:focus,
body .rsg--sidebar-4 .rsg--link-59:hover,
body .rsg--sidebar-4 a:focus,
body .rsg--sidebar-4 a:hover {
	color: rgba(255, 255, 255, .4);

}

body .rsg--logo-5 {
	border-bottom: rgba(255, 255, 255, .2) 1px solid;
}

body .rsg--root-9 {
	min-height: 100vh;
	padding-bottom: 100px;
	margin-bottom: 0;
}
