$colors = json('colorsList.json', { hash: true })

for $key, $val in $colors
  define('$'+$key, $val)

$isDark = false
$textIsDark = true

$background-main = $light
$text-color-main = rgba(black, 0.75)

$link-color-main = $primary
$border-color-main = $isDark ? rgba($light, 0.2) : lighten(black, 85)
$border-color-main-focus = $primary
$input-background-main = $isDark ? $dark : $light
$block-background-main = $isDark ? rgba($light, 0.04) : rgba(black, 0.04)

for $key, $val in $colors
  $contrast-ratio-light = contrast($val, $light).ratio
  $contrast-ratio-text = contrast($val, $text-color-main).ratio

  if $contrast-ratio-light > $contrast-ratio-text || $contrast-ratio-light > 3
    $text-color = $light
    $link-color = $text-color
  else if $contrast-ratio-text < 7 && $textIsDark
    $text-color = black
    $link-color = $link-color-main
  else
    $text-color = $text-color-main
    $link-color = $link-color-main

  .ViComponent .ViColor-{$key}
  .ViComponent.ViColor-{$key}
    &--bg
      background-color $val
      color $text-color

      a
        color $link-color
      a:focus
      a:hover
        color darken($link-color, 30%)

    &--text
      color $val

    &--border
      border-color $val

    &--border-no-bg
      border-color $val
      background-color transparent

    &--hover:focus:enabled
      box-shadow 0 0 10px rgba($val, 0.5)
      will-change box-shadow

    &--hover:hover:enabled
      box-shadow 0 0 0 rgba($val, 0)
      background-color shade($val, 20%)
      border-color shade($val, 25%)
      color $text-color
      will-change box-shadow

.ViComponent .ViColor-transparent-bg
  background-color transparent
