$colors = {
  default: #94A2B0,
  defaultVariant: #55636F,
  primary: #24AEE4,
  primaryVariant: #1987C5,
  secondary: #1B415E,
  success: #5AC2A0,
  warning: #DDC880,
  danger: #E45B5B,
  light: #FFFFFF
}

for $key, $val in $colors
  $contrastRatio = contrast($val).ratio

  if $val == '#FFFFFF'
    $text-color = #FFFFFF
  else if contrastRatio < 4
    $text-color = rgba(#000, .9)
  else if contrastRatio < 6
    $text-color = #FFFFFF
  else
    $text-color = rgba(#FFFFFF, .9)

  .color-{$key}
    &--background
      border-color $val
      background-color $val
      color $text-color

    &--border
      border-color $val
      background-color transparent
      color $val

    &--hover:focus:enabled
      box-shadow 0 0 10px rgba($val, .5)

    &--hover:hover:enabled
      box-shadow 0
      background-color shade($val, 20%)
      border-color shade($val, 25%)
      color $text-color
