$border-radius = 0.3em

.ViCompenent .ViInput
.ViInput
  position relative
  z-index 0
  &.flexWraper:not(.flexWraper--vertical)
    align-items center

  .contentWrapper.ViInput__Input
    border 1px solid $border-color-main
    background $input-background-main
    border-radius $border-radius
    padding 0.6em
    outline none
    text-overflow ellipsis

    &:focus:not([readonly])
      border 1px solid $border-color-main-focus
      box-shadow inset 0 -0.3em 0.35em rgba($border-color-main-focus, 0.1)
      outline none

    &--invalid
    &--validated:invalid
      border 1px solid $error-color
      box-shadow inset 0 -0.3em 0.35em rgba($error-color, 0.05)
      outline none

  & > .ViInput_Wrapper
    align-items stretch

    .contentWrapper
      border-radius 0

      &:first-child
        border-bottom-left-radius $border-radius
        border-top-left-radius $border-radius

      &:last-child
        border-bottom-right-radius $border-radius
        border-top-right-radius $border-radius

      &.ViInput__Input
        width 100%

      &.ViButton
        white-space nowrap

      &.ViInput__Slot
        background rgba($border-color-main, 0.1)
        border 1px solid $border-color-main
        display flex
        align-items center
        padding 0.6em
        &--prefix
          border-right 0
        &--suffix
          border-left 0

  .ViInput__FileInput
    border 0
    bottom -1px
    height 1px
    margin 0!important
    overflow hidden
    opacity 0
    padding 0
    position absolute
    right 0
    width 100%

    & + .ViInput_Wrapper
      & .ViInput__Input:focus
        border 1px solid $border-color-main-focus
        box-shadow inset 0 -0.3em 0.35em rgba($border-color-main-focus, 0.1)
        outline none
