$border-radius = 0.3em

.ViComponent.ViInput
  position relative
  width 100%
  z-index 0

  &--elevated
    z-index 3

  &.flexWrapper:not(.flexWrapper--vertical)
    align-items center

  .contentWrapper.ViInput__Input
    background $input-background-main
    border 1px solid $border-color-main
    border-bottom-width 2px
    box-shadow 0
    min-height 40px
    padding 0.5em
    outline none
    text-overflow ellipsis
    transition all 0.04s ease-in-out
    width 100%

    &:focus:not([readonly])
      border-color $border-color-main-focus
      box-shadow 0 0 0 0.2em rgba($border-color-main-focus, 0.4)
      position relative
      z-index 1

    &--pill
      border-radius 20px

    &--invalid
    &--validated:invalid
      border-color $danger
      outline none

  & > .ViInput_Wrapper
    align-items stretch

    .contentWrapper
      border-radius 0

      &.ViButton:first-child
        border-bottom-left-radius $border-radius
        border-top-left-radius $border-radius

      &.ViButton:last-child
        border-bottom-right-radius $border-radius
        border-top-right-radius $border-radius

      &.ViButton
        white-space nowrap

      &.ViInput__Slot
        background rgba($border-color-main, 0.1)
        border 1px solid $border-color-main
        border-bottom-width 2px
        display flex
        align-items center
        padding 0.6em
        &--prefix
          border-right 0
        &--suffix
          border-left 0
