@import '../../node_modules/normalize.css';
@import '../themes/fonts.css';

$Roboto = 'Roboto', 'RobotoFallback', Arial, sans-serif

html
  box-sizing border-box
  font-family $Roboto
  font-size 16px
  font-weight 300

*
*:before
*:after
  box-sizing inherit
