@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');


html,
body {
	color:rgba(0,0,0,.8);
}


#rsg-root .rsg--sidebar-4 a {
	color: white !important;
}

h1,
h2,
h3,
h4,
h5,
{
	font-weight: 700
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #24AEE4

}
